body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  color: white;
}

.center {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 42px;
}

p {
  font-size: 20px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
}

.yes {
  background-color: #28a745;
  color: white;
}

.no {
  background-color: #dc3545;
  color: white;
}

button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
